<!DOCTYPE html>

<html>
    <body background="{{ Background }}">
        
        <center><form style="color:white" method ="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <center><legend>Character Name</legend></center>
                <br>
                <div style= class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg") }}
                    <br>
                </div>
            </fieldset>
            <center><div class="form-group"></center>
                {{ form.submit(class="btn btn-outline-info") }}
                </div>
        </form></center>


        
        <center><h1>{{ Stature }} {{ Race }} From {{ Location }}</h1></center>
        <center><h1>{{ Rank }} {{ Profession }}</h1></center>
        
    <br>
    <br>
        

        <h2><align="left">{{ Grade }} {{ Weapon }}</align></h2>
        <br>
        <h2><align="left">{{ Stance }}</align></h2>
        <br>
        <h2><align="left">{{ Trait_1 }}</align></h2>
        <h2><align="left">{{ Trait_2 }}</align></h2>
        <h2><align="left">{{ Trait_3 }}</align></h2>
        
        
        
     <h2><align="right"> {{ Melee_Prowess }} Melee Combat </align></h2>
     <h2><align="right"> {{ Archery_Prowess }} Ranged Combat </align></h2>
     <h2><align="right"> {{ Strength }} Strength </align></h2>
     <h2><align="right"> {{ Endurance }} Endurance </align></h2>
     <h2><align="right"> {{ Intelligence }} Intelligence </align></h2>
     <h2><align="right"> {{ Awareness }} Awareness  </align></h2>
     <h2><align="right"> {{ Dexterity }} Dexterity </align></h2>
     <h2><align="right"> {{ Dodge }} Dodge </align></h2-->
     

        
        


        







    </body>
</html>