<!DOCTYPE html>

<html>
    <body background="{{ Background }}">

        <center><h1>{{ Stature }} {{ Race }} From {{ Location }}</h1></center>
        <center><h1>{{ Rank }} {{ Profession }}</h1></center>
        
    <br>
    <br>
        

        <h2><align="left">{{ Grade }} {{ Weapon }}</align></h2>
        <br>
        <h2><align="left">{{ Stance }}</align></h2>
        <br>
        <h2><align="left">{{ Trait_1 }}</align></h2>
        <h2><align="left">{{ Trait_2 }}</align></h2>
        <h2><align="left">{{ Trait_3 }}</align></h2>
        
        
        
     <h2><align="right"> {{ Melee_Prowess }} Melee Combat </align></h2>
        


        
        


        







    </body>
</html>