<!DOCTYPE html>

<html>
    <body>
        <h1>{{ Stature }} {{ Race }}</h1>
        <h1>{{ Location }} {{ Rank }}</h1>
        <h1>{{ Profession }} {{ Grade }}</h1>
        <h1>{{ Weapon }} {{ Stance }}</h1>
        <h1>{{ Trait_1 }} {{ Trait_2 }}</h1>
        <h1>{{ Trait_3 }} {{ Melee_Prowess }}</h1>
        <h1>{{ Strength }} {{ Endurance }}</h1>
        <h1>{{ Intelligence }} {{ Awareness }}</h1>
        <h1>{{ Dexterity }} {{ Dodge }}</h1>
        <h2>Refresh for a new Character</h2> 






    </body>
</html>